
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.nav-index li{
    font-size: 1rem;
    margin-left: 2rem !important;
    div{
      width: 2rem;
      height: 0.25rem;
      margin: 0 auto;
      display: table;
    }
    a{
      &:hover{
        color: #0460D3 !important;
        & + div{
          background-color: #0460D3
        }
      }
      &.active{
        color: #0460D3 !important;
        & + div{
          background-color: #0460D3
        }
      }
    }
}
.border-bottom-block{
  width: 4.875rem;
  height: 0.25rem;
  margin: 0 auto;
  display: table;
  background-color: #0460D3
}
